.App {
	background-color: #fafafa;
	width: 100%;
	height: 100vh;
	display: flex;
}

.nav-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	position: absolute;
	width: 64px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background: #ffffff;
	box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.octo-logo {
	margin-left: 5px;
}

.home-icon {
	position: absolute;
	left: 20px;
	right: 8.33%;
	top: 12.5%;
	bottom: 16.67%;
	font-size: 20px;
	color: #7b818a;
}

.chart-icon {
	position: absolute;
	left: 20px;
	right: 20.83%;
	top: 20.83%;
	bottom: 20.83%;
	color: #7b818a;
}

.page-title {
	margin-left: 201px;
	margin-top: 22px;
	display: flex;
	flex-direction: column;
}

.main-title {
	position: static;
	width: 304px;
	height: 40px;
	left: 0px;
	top: 80px;
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: -0.03em;
	color: #555b62;
}

.alert-container {
	height: 58px;
	font-family: Inter;
	font-size: 14px;
}

.alert-icon {
	margin-right: 8px;
	margin-bottom: 4px;
}

.alert {
	padding: 8px 16px;
}

.clear-alert {
	font-size: 24px;
	color: #7b818a;
	cursor: pointer;
	float: right;
}

.meta-info {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #555b62;
}

.runs-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	position: absolute;
	width: 287px;
	height: 341px;
	left: 1110px;
	top: 194px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(46, 50, 56, 0.04), 0px 8px 24px rgba(46, 50, 56, 0.08);
	border-radius: 8px;
}

.card-container {
	overflow: scroll;
	margin-left: 201px;
	margin-top: 54px;
	display: flex;
	flex-direction: column;
	padding: 0px;
	width: 893px;
	height: 626px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(46, 50, 56, 0.04), 0px 8px 24px rgba(46, 50, 56, 0.08);
	border-radius: 8px;
}

.card-body {
	padding: 16px 24px;
}

.oct-card-title {
	position: static;
	padding: 14px 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -0.03em;
	color: #7b818a;
}

.runs-card-body {
	padding-top: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.instance-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.cpu-info {
	display: flex;
	flex-direction: column;
}

.selected-instances {
	display: flex;
	flex-direction: column;
}

.runs-card-title.card-title.h5 {
	display: flex;
	flex-direction: column;
	float: right;
}

.runs-title {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #7b818a;
}

.instance-run-name {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #2e3238;
}

.instance-cpu {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #91969c;
}

.instance-runs {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #4db396;
}

.runs-total-count {
	text-align: end;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 136.52%;
	text-align: right;
	color: #4db396;
}

.octomize-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 24px;
	position: static;
	width: 239px;
	height: 48px;
	left: 24px;
	top: 269px;
	background: #0180ff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.disabled-btn {
	color: #adafb3 !important;
	background: #d0d1d2 !important;
	border: none;
}
